<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Intelie Live Application- WMS1 Test Suites" parallel="tests" thread-count="6">
   
   
    <test name="WMS1_Export Data">
    
     
         
    <classes>
    
      <class name= "testRunner.TestRunner">
      </class>
      <class name= "stepDefenitions.VisualTestSteps">
      
     
      
     </class>
      
    
      
    </classes>
  </test> 

</suite> 
